<footer>
  <div class="container mx-auto lg:px-20 px-5">
    <div
      class="grid md:grid-cols-4 grid-cols-1 gap-3 py-14 gap-y-10 md:gap-y-3 justify-items-center"
    >
      <div class="text-center md:text-start">
        <h5 class="font-medium text-xl">Contact Us</h5>
        <ul class="list-none contact">
          <li class="flex justify-center md:justify-start">
            <span class="fw-icon"
              ><i class="fa-solid fa-location-dot"></i
            ></span>
            <span class="">450 CD, Country Latin literature.</span>
          </li>
          <li class="flex justify-center md:justify-start">
            <span class="fw-icon"><i class="fa-solid fa-phone"></i></span>
            <span> 8am-9pm, Mon-Sat</span>
          </li>
          <li>
            <a href="" class="flex justify-center md:justify-start">
              <span class="fw-icon"><i class="fa-solid fa-envelope"></i></span>
              <span> contact-fashionshop.com</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="">
        <h5 class="font-medium text-xl">Policies & Info</h5>
        <ul class="list-none">
          <li>
            <a href="" class="flex">
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <span> Terms Conditions</span>
            </a>
          </li>
          <li>
            <a href="" class="flex">
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <span> Policy for Sellers</span>
            </a>
          </li>
          <li>
            <a href="" class="flex">
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <span> Policy for Buyers</span>
            </a>
          </li>
          <li>
            <a href="" class="flex">
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <span> Shipping & Refund</span>
            </a>
          </li>
          <li>
            <a href="" class="flex">
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <span> Wholesale Policy</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="">
        <h5 class="font-medium text-xl">Quick Links</h5>
        <ul class="list-none">
          <li>
            <a href="" class="flex">
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="" class="flex">
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <span> Products</span>
            </a>
          </li>
          <li>
            <a href="" class="flex">
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <span>About Us</span>
            </a>
          </li>
          <li>
            <a href="" class="flex">
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <span>Contact Us</span>
            </a>
          </li>
          <li>
            <a href="" class="flex">
              <span><i class="fa-solid fa-chevron-right"></i></span>
              <span>Shipping & Refund</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col items-center md:items-start">
        <h5 class="font-medium text-xl">Subscire Us</h5>
        <p class="font-light text-sm py-2">
          Contrary to popular belief of lorem ipsm latin.
        </p>
        <input class="mt-2 text-center text-sm" type="text" pInputText formControlName="text" />
      </div>
    </div>
    <hr class="m-0 border-gray-400" />
    <div
      class="md:flex items-center justify-between mt-5 text-center md:text-start"
    >
      <p class="text-muted text-sm">
        Copyright © 2023 Shrouk Abd El-Nasser. All rights reserved.
      </p>
      <div class="social-links py-4 md:py-0 text-sm sm:text-base text-gray-600">
        <a class="twitter cursor-pointer">
          <i class="fi fi-brands-twitter"></i>
        </a>
        <a class="facebook cursor-pointer">
          <i class="fi fi-brands-facebook"></i>
        </a>
        <a class="instagram cursor-pointer">
          <i class="fi fi-brands-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
