<div class="new-products sm:mt-24 mt-16">
  <div class="">
    <h2 class="text-center sm:text-5xl text-2xl font-semibold">BEST OFFERS</h2>
    <p
      class="sm:pb-20 pb-10 text-center mt-4 max-w-80 sm:max-w-full mx-auto text-xs sm:text-base"
    >
      How does it feel, when you see great discount deals for each product?
    </p>
  </div>
  <section class="sm:pt-24 pt-10 pb-10">
    <div data-aos="zoom-in" data-aos-duration="1000" class="container mx-auto">
      <p-carousel
        [value]="limitedProducts"
        [numVisible]="4"
        [numScroll]="1"
        [circular]="true"
        [autoplayInterval]="4000"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template pTemplate="item" let-item>
          <div class="px-5">
            <div class="bg-white rounded-md py-8 shadow-lg">
              <div>
                <img class="sm:w-40 sm:h-40 w-32 h-32 m-auto" [src]="item.image" alt="Image" />
                <h4 class="mt-6 w-full max-w-56 m-auto text-center text-sm sm:text-base">
                  {{ item.title | limit : 4 }}
                </h4>
              </div>
              <div class="text-center text-sm sm:text-base">
                <p class="mt-3 mb-0 line-through text-gray-400">
                  <span>Old Price: </span
                  >{{ item.price + 23 | currency : "USD" : "symbol" : "1.1-1" }}
                </p>
                <p class="mb-0">
                  <span>Current Price: </span
                  >{{ item.price | currency : "USD" : "symbol" : "1.1-1" }}
                </p>
                <p class="py-1">
                  <span class="text-green-600"> In Stock:</span>
                  {{ item.rating.count }}
                </p>
              </div>
              <app-add-btn
                [product]="item"
              ></app-add-btn>
            </div>
          </div>
        </ng-template>
      </p-carousel>
      <div class="text-center mt-8 sm:text-lg text-sm font-semibold text-gray-800">
        <span [routerLink]="'/products'" class="show-products cursor-pointer">
          SEE ALL PRODUCTS
          <span class="ms-1"><i class="fa-solid fa-angles-right"></i></span>
        </span>
      </div>
    </div>
  </section>
</div>
