@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.p-float-label .p-inputtext:focus ~ label,
.p-float-label .p-inputtext:not(:placeholder-shown) ~ label {
  @media (max-width: 500px) {
    font-size: 12px; /* Set your desired font size */
    top: -0.75rem; /* Adjust position */
    left: 0.25rem; /* Adjust alignment if needed */
  }
}

/* Adjust the label when it's not floating */
.p-float-label label {
  @media (max-width: 500px) {
    font-size: 16px; /* Normal font size */
    transition: all 0.2s ease-in-out; /* Smooth transition */
  }
}


